[user]
    name = Emi
[color]
    pager = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    plain = normal
    meta = cyan
    frag = normal
    old = red bold
    new = green bold
    commit = yellow bold
    whitespace = red
[color "branch"]
    local = normal
    remote = red
    plain = normal
    current = white
[color "status"]
    header = normal
    added = red
    updated = green bold
    changed = yellow
    untracked = red
    nobranch = red
[color "grep"]
    match = normal
[color "interactive"]
    prompt = green
    header = cyan
    help = yellow
    error = red
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autoclrf=true
    preloadindex = true
    fscache = true
    excludesfile = ~/.gitignore_global
    pager = $DOTFILES/diff-highlight | less -r
[branch]
    autosetuprebase = always
[push]
    default = simple
[pull]
    default = current
[rerere]
    enabled = true
[pack]
    windowMemory = 250m
[branch "master"]
    rebase = true
[init]
    templatedir = ~/.git_template
[gc]
    auto = 256
[alias]
    lg = log --decorate --graph --all --oneline --color
    g-ls-au = ls-files -v | grep ^[a-z]
    g-ls-sw = ls-files -v | grep ^[sS]
    conflicts = diff --name-only --diff-filter=U
    st = status -sb
    d = difftool --color=always --word-diff=color --word-diff-regex=.
    m = mergetool --color=always
[interactive]
    diffFilter = $DOTFILES/diff-highlight
[pager]
    show = nvim -R -
    color = true
[credential]
    helper = cache --timeout=144000
[merge]
    conflictstyle = diff3
    tool = vimdiff
[mergetool]
    prompt = false
[diff]
    tool = vimdiff3
[difftool]
    prompt = false
