.config/configstore/update-notifier-npm.json
.config/fish/fish_variables
.config/fish/functions/fzf_key_bindings.fish
.config/fish/functions/fish_prompt.fish
.git_template/.git_template
.config/omf/init.fish
.config/omf/theme
.DS_Store

**/.undodir
