[submodule "private_dotfiles"]
	path = private_dotfiles
	url = git@mygithub:componhead/private_dotfiles.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@mygithub:componhead/kickstart.nvim.git
	branch = master
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = git@mygithub:componhead/wezterm-config.git
