[color]
	pager = true
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green bold
[color "diff"]
	plain = normal
	meta = cyan
	frag = normal
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red
[color "branch"]
	local = normal
	remote = red
	plain = normal
	current = white
[color "status"]
	header = normal
	added = red
	updated = green bold
	changed = yellow
	untracked = red
	nobranch = red
[color "grep"]
	match = normal
[color "interactive"]
	prompt = green bold
	header = cyan
	help = yellow
	error = red
[core]
 	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
 	autoclrf=true
 	preloadindex = true
 	fscache = true
 	excludesfile = $DOTFILES/.gitignore_global
 	#pager = diff-highlight | less -rJN
 	autocrlf = input
 	commentchar = ";"
 	askpass = git-gui--askpass
 	hooksPath = $HOME/.githooks
[push]
	default = simple
[pull]
	default = current
	ff = only
[rerere]
	enabled = true
[pack]
	windowMemory = 250m
[init]
	#templatedir = $DOTFILES/.git_templates
	defaultBranch = master
[gc]
	auto = 256
[interactive]
	diffFilter = $DOTFILES/diff-highlight
[pager]
	show = nvim -R -
	color = true
[credential]
	helper = store --file="$DOTFILES/.git_credentials"
	#helper = cache --timeout=144000
[merge]
	tool = vimdiff3
	commit = yes
	ff = no
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "vimdiff3"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "diffconflicts"]
	keepBackup = false
	trustExitCode = true
	cmd = diffconflicts nvim $LOCAL $BASE $REMOTE $MERGED
[mergetool "intellij"]
	cmd = $HOME/bin/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
	trustExitCode = true
[difftool "intellij"]
	cmd = $HOME/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[status]
	submodulesummary = 1
[fetch]
	prune = false
[branch]
	autoSetupRebase = never
[commit]
	template = $HOME/.gitmessage
	gpgsign = true
[gpg]
	program = gpg2
[alias]
	lg =  log --color --decorate --graph --date-order --first-parent --pretty=format:'%C(auto)%h%Creset %C(auto)%d%Creset %s %C(green)(%ad) %C(bold cyan)<%an>%Creset'
	lgb = log --color --decorate --graph --date-order --branches --first-parent --pretty=format:'%C(auto)%h%Creset %C(auto)%d%Creset %s %C(green)(%ad) %C(bold cyan)<%an>%Creset'
	lga = log --color --decorate --graph --date-order --all --pretty=format:'%C(auto)%h%Creset %C(auto)%d%Creset %s %C(green)(%ad) %C(bold cyan)<%an>%Creset'
	I = !git ls-files -v | grep '^[[:lower:]]'
	M = !git status -sb | sed 1d | sed '/^[DMARC ]M /!d' | sed 's/^...//g'
	U = !git status -sb | sed 1d | sed '/^?? /!d' | sed 's/^...//g'	
	UU = !git status -sb | sed 1d | sed '/^UU /!d' | sed 's/^...//g'
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
[user]
	useConfigOnly = true
	name = Emiliano Anichini
	email = e.anichini@treedom.net
[user "work"]
	# git identity work
	name = Emiliano Anichini
	email = e.anichini@treedom.net
	signingkey = 78A170C0
[user "private"]
	# git identity private
	name = Emiliano Anichini
	email = emiliano.anichini@gmail.com
	signingkey = 1583FE40
