[submodule "private_dotfiles"]
	path = private_dotfiles
	url = git@mygithub:componhead/private_dotfiles.git
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@mygithub:componhead/LazyVim.git
	branch = master
[submodule ".tmux"]
	path = .tmux
	url = git@mygithub:componhead/.tmux.git
