[user]
    name = Emi
    email = "ihate@spam.bot"
[color]
    pager = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green bold
[color "diff"]
    plain = normal
    meta = cyan
    frag = normal
    old = red bold
    new = green bold
    commit = yellow bold
    whitespace = red
[color "branch"]
    local = normal
    remote = red
    plain = normal
    current = white
[color "status"]
    header = normal
    added = red
    updated = green bold
    changed = yellow
    untracked = red
    nobranch = red
[color "grep"]
    match = normal
[color "interactive"]
    prompt = green bold
    header = cyan
    help = yellow
    error = red
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autoclrf=true
    preloadindex = true
    fscache = true
    excludesfile = ~/.gitignore_global
    pager = $DOTFILES/diff-highlight | less -rJN
    autocrlf = input
    commentchar = ";"
[push]
    default = simple
[pull]
    default = current
[rerere]
    enabled = true
[pack]
    windowMemory = 250m
[init]
    templatedir = ~/.git_template
[gc]
    auto = 256
[alias]
    M = "!f() { git status -sb | sed 1d | sed '/^[DMARC ]M /!d' | sed 's/^...//g'; }; f"
    U = "!f() { git status -sb | sed 1d | sed '/^?? /!d' | sed 's/^...//g'; }; f"
    UU = "!f() { git status -sb | sed 1d | sed '/^UU /!d' | sed 's/^...//g'; }; f"
[interactive]
    diffFilter = $DOTFILES/diff-highlight
[pager]
    show = nvim -R -
    color = true
[credential]
    helper = cache --timeout=144000
[merge]
    conflictstyle = diff3
    tool = vimdiff3
[mergetool "vimdiff3"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    prompt = true
[diff]
    tool = vimdiff3
[difftool "vimdiff3"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    prompt = true
[status]
    submodulesummary = 1
[fetch]
    prune = false
