let mapleader=" "
" ---------------
" Functionalities
" ---------------
set easymotion
set vim-easyclip
set surround
set commentary
set ReplaceWithRegister
set ideajoin
set ideaput
set sneak
set NERDTree
set idearefactormode=keep

set timeoutlen=1000 ttimeoutlen=10

" ---------------
" UI
" ---------------
set number
set relativenumber   " Line numbers on
set laststatus=2   " Always show the statusline
set cmdheight=2    " Make the command area two lines high
set encoding=utf-8
set clipboard+=unnamed " Yanks go on clipboard instead.
set autowrite          " Writes on make/shell commands
set timeoutlen=600     " Time to wait for a command (after leader for example).
set ttimeout
set ttimeoutlen=1000   " Time to wait for a key sequence.
set nofoldenable       " Disable folding entirely.
set foldlevelstart=99  " I really don't like folds.
set formatoptions=crql
set iskeyword+=\$,-_   " Add extra characters that are valid parts of variables
set scrolloff=3        " Keep three lines below the last line when scrolling
set gdefault           " this makes search/replace global by default

" ---------------
" Text Format
" ---------------
set backspace=indent,eol,start " Delete everything with backspace
set autoindent
set smarttab
set expandtab

" ---------------
" Searching
" ---------------
set ignorecase " Case insensitive search
set smartcase  " Non-case sensitive search
set incsearch  " Incremental search
set hlsearch   " Highlight search results
set matchpairs+=<:>

" ---------------
" Visual
" ---------------

" Reset the listchars
set listchars=""
" make tabs visible
set listchars=tab:▸▸
" show trailing spaces as dots
set listchars+=trail:•
" The character to show in the last column when wrap is off and the line
" continues beyond the right of the screen
set listchars+=extends:>
" The character to show in the last column when wrap is off and the line
" continues beyond the right of the screen
set listchars+=precedes:<

" ---------------
" Mouse
" ---------------
set mousehide  " Hide mouse after chars typed
set mouse=a    " Mouse in all modes

" Better complete options to speed it up
set complete=.,w,b,u,U

" ----------------------------------------
" Commands
" ----------------------------------------

" Silently execute an external command
" No 'Press Any Key to Contiue BS'
" from: http://vim.wikia.com/wiki/Avoiding_the_%22Hit_ENTER_to_continue%22_prompts
command! -nargs=1 SilentCmd
			\ | execute ':silent !'.<q-args>
			\ | execute ':redraw!'


" ---------------
" Window Movement
" ---------------
nnoremap <silent> gh :wincmd h<CR>
nnoremap <silent> gj :wincmd j<CR>
nnoremap <silent> gk :wincmd k<CR>
nnoremap <silent> gl :wincmd l<CR>

" ---------------
" Insert Mode Mappings
" ---------------

" Let's make escape better, together.
inoremap jk <Esc>

" Highlight search word under cursor without jumping to next
nnoremap <leader>h *<C-O>

" Format the entire file
nnoremap <leader>fef mx=ggG='x

" ---------------
" Typo Fixes
" ---------------

" Disable the ever-annoying Ex mode shortcut key. Type visual my ass. Instead,
" make Q repeat the last macro instead. *hat tip* http://vimbits.com/bits/263
nnoremap Q @@

" Paste and select pasted
nnoremap <expr> gpp '`[' . strpart(getregtype(), 0, 1) . '`]'

" Insert date
iabbrev ddate <C-R>=strftime("%Y-%m-%d")<CR>

" ----------------------------------------
" Mappings
" ----------------------------------------

" ---------------
" Regular Mappings
" ---------------

" Use ; for : in normal and visual mode, less keystrokes
nnoremap ; :
vnoremap ; :

" Yank entire buffer with gy
nnoremap gy :0,$ y<cr>

" Select entire buffer
nnoremap vy ggVG

" Create newlines without entering insert mode
nnoremap go o<Esc>
nnoremap gO O<Esc>

" remap U to <C-r> for easier redo
" from http://vimbits.com/bits/356
nnoremap U <C-r>

Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
